/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/* Asterix Wildcard to overide generic styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Generic Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic Project Styles */
    color: rgb(8, 53, 253);
    font-family: 'Oswald', sans-serif;
}

/* Header */
header {
    background-color: black;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(8, 53, 253);
}

#menu {
    font-size: 120%;
    letter-spacing: 3px;
    list-style-type: none;
}

#menu li {
    margin-bottom: 0.75em;
}

.active {
    font-weight: 700;
    color: steelblue;
}

/* Main Content */
main {
    background-color: rgb(10, 1, 92);
    /* Makes the main content take up all surplus space and pushed footer down */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: rgb(42, 68, 218);
}