/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/* Asterix Wildcard to overide generic styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Generic Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic Project Styles */
    color: steelblue;
    font-family: 'Oswald', sans-serif;
}

/* Header */
header {
    background-color: black;
    padding: 0 0rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    align-items: center;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: steelblue;
}

#menu {
    font-size: 120%;
    letter-spacing: 3px;
    list-style-type: none;
    text-wrap: nowrap;
}

#menu li {
    margin-bottom: 0.75em;
}

#logo img {
    height: 68px;
    position: relative;
    display: flex;
}

.active {
    font-weight: 700;
    color: aqua;
}

.button {
    background-color: aqua;
    border: silver;
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 0px 0px 20px slategray;
    border-radius: 5px;
    width: 74px;
    display: inline-block;
    font-size: 120%;
    transition-property: background-color;
    transition-duration: 0.75s;
}

.button:hover {
    background-color: navy;
}

/* grid */
/* set to inherit elements from header */
.grid {
    display: inline-grid;
    grid-template-columns: auto 70px 70px 50px;
    align-items: inherit;
    column-gap: 10px;
    width: 100%;
    padding: 0 0rem;
}


/* navbar styles with dropdown toggle  */
/* navbar now matches header if toggled on and body if toggled off */
nav {
    position: absolute;
    background-color: black;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%
}

/* nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main Content */
main {
    background-color: rgb(10, 1, 92);
    /* Makes the main content take up all surplus space and pushed footer down */
    flex: 1 0 auto;
    margin-top: 68px;
}

/* Footer */
footer {
    background-color: rgb(42, 68, 218);
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: aqua;
}

/* Media query: tablets and larger (768px and up) */
/* Remove navbar toggle and positioned nav elements horizontal along the navbar */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 0.5rem;
        top: 0.5rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .button {
        display: none;
    }

    .nav-toggle-label {
        display: none;
    }

    .grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-items: center;
    }

    /* Main Content */
    main {
        background-color: rgb(10, 1, 92);
        /* Makes the main content take up all surplus space and pushed footer down */
        flex: 1 0 auto;
        margin-top: 68px;
    }
}

/* Media query: large devices desktops and laptops (992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid aqua;
    }
}

/* Media query: failsafe for future devices smaller than industry standard and laptops (300px and below) allows user to use burger icon by removing buttons*/
@media screen and (max-width: 300px) {
    .grid {
        grid-template-columns: auto 0px 0px 40px;
        align-items: center;
    }

    .button {
        display: none;
    }
}